<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trinetix.app" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.trinetix.app.PasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.trinetix.app.ProductListActivity"
            android:label="@string/product_list_activity_title"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="com.trinetix.app.PasswordActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="PasswordActivity" />

        </activity>

        <activity
            android:name="com.trinetix.app.CartActivity"
            android:label="@string/title_activity_cart"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="com.trinetix.app.ProductListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ProductListActivity" />
        </activity>

    </application>

</manifest>
